<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Label</key>
		<string>com.immich</string>
		<key>RunAtLoad</key>
		<true/>
		<key>UserName</key>
		<string>immich</string>
		<key>ProgramArguments</key>
		<array>
			<string>/opt/services/immich/app/start.sh</string>
		</array>
		<key>EnvironmentVariables</key>
		<dict>
			<key>PATH</key>
			<string>/opt/homebrew/bin:/usr/local/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		</dict>
		<key>StandardOutPath</key>
  		<string>/var/log/immich/immich-app.log</string>
		<key>StandardErrorPath</key>
  		<string>/var/log/immich/immich-app.log</string>
	</dict>
</plist>
